{
	"$schema": "https://json.schemastore.org/prettierrc",
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"trailingComma": "es5",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"sortImports": true,
	"importOrder": ["^components/(.*)$", "^[./](?!.*\\.scss$)", "^[./].*\\.scss$"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
