.ability-scores {
}

.ability-scores .ability-scores-array {
	padding: 0.5rem;
	margin-bottom: 0.25rem;
}

.ability-scores .ability-scores-array .ability-score-item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.ability-scores .ability-scores-array .ability-score-item .ability-name {
	grid-column: 1 / span 2;
	background-color: #f0f0f0;
}

.ability-scores .ability-scores-array .ability-score-item .ability-value {
	grid-column: 3 / span 1;
	background-color: #f0f0f0;
}

.ability-scores .ability-scores-array .ability-score-item .ability-tooltip {
	grid-column: 1 / span 3;
	font-size: 0.875rem;
	margin-top: 0.25rem;
	margin-bottom: 0.75rem;
}
