body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

#root {
	margin: 0 auto;
}

.app-header {
	padding: 1.25rem;
	background-color: var(--color-dark-khaki);
	/* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); */
}

.app-header a {
	color: #030303;
	text-decoration: none;
}

.router-view {
	padding: 1.5rem;
}
